/autom4te.cache/
.deps/
/aclocal.m4
/build-aux/
/Makefile
/Makefile.in
config.h
config.log
config.status
config.h.in
config.h.in~
/configure
debuglevel
groups
*.o
scponly
scponlyc
tags
CVS
/setup_chroot.sh
/stamp-h1
